---
title: "bulletin"
layout: default
permalink: "/goods-bulletin.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div > <br><br></div> 
        <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
            <!--
                {% assign posts = site.posts | where:"goods","badge" %}
                {% for post in posts %}
                {% include main-loop-card.html %}
                {% endfor %}
            -->
            <span style="font:Gulim">
                <h4>끌림 2호</h4>
                <img src="assets/images/bulletin-1.jpeg" width="400">
                <br> <br> <br> <br>
            </span>
    </div>
</div>
</div>