---
title: "sticker"
layout: default
permalink: "/goods-sticker.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div > <br><br></div> 
        <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
            <!--
                {% assign posts = site.posts | where:"goods","badge" %}
                {% for post in posts %}
                {% include main-loop-card.html %}
                {% endfor %}
            -->
            <span style="font:Gulim">
                <h5>스티커 4종</h5>
                <img src="assets/images/sticker-1.jpeg" width="400">
                <br> <br> <br> <br> <br> <br> <br>
                <h5>무지개 고양이 스티커</h5>
                <img src="assets/images/sticker-2.png" width="400">
                <br><br>
            </span>
    </div>
</div>
</div>