---
title: "postcard"
layout: default
permalink: "/goods-postcard.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div > <br><br></div> 
        <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
            <!--
                {% assign posts = site.posts | where:"goods","badge" %}
                {% for post in posts %}
                {% include main-loop-card.html %}
                {% endfor %}
            -->
            <span style="font:Gulim">
                <h5>엽서 4종</h5>
                <img src="assets/images/postcard-1.jpg" width="600">
                <br> <br> <br> <br> <br> 
            </span>
    </div>
</div>
</div>