<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">홈</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/culture.html">퀴어한마당!</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/writing_contest.html">퀴어당당백일장</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.miricanvas.com/v/1fgteu">운세</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/goods-list.html">굿즈</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/donation.html">후원</a>
</li>

<!--
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
-->
